@font-face {
  font-family: "iconfont"; /* Project id 3616683 */
  src: url("iconfont.woff2?t=1661758869093") format("woff2"),
    url("iconfont.woff?t=1661758869093") format("woff"),
    url("iconfont.ttf?t=1661758869093") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e6da";
}

.icon-weixin:before {
  content: "\e620";
  color: green;
}

.icon-github:before {
  content: "\e657";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-yonghuguanli:before {
  content: "\fce2";
}

.icon-sousuo:before {
  content: "\e69b";
}

.icon-wenzhang:before {
  content: "\fc7f";
  color: rgb(247, 135, 72);
}

.icon-shouye:before {
  content: "\e698";
  color: rgb(55, 197, 254);
}
